[data-bs-theme="dark"] .btn-outline-dark {
    --bs-btn-color: var(--bs-light);
    --bs-btn-border-color: var(--bs-light);
    --bs-btn-hover-color: var(--bs-dark);
    --bs-btn-hover-bg: var(--bs-light);
    --bs-btn-hover-border-color: var(--bs-light);
}

[data-bs-theme="dark"] .btn-dark {
    --bs-btn-color: var(--bs-dark);
    --bs-btn-bg: var(--bs-light);
    --bs-btn-border-color: var(--bs-light);
    --bs-btn-hover-color: var(--bs-dark);
    --bs-btn-hover-bg: var(--bs-gray-300);
    --bs-btn-hover-border-color: var(--bs-gray-400);
}

[data-bs-theme="dark"] .btn-check:checked + .btn-outline-dark {
    --bs-btn-bg: var(--bs-light);
    --bs-btn-color: var(--bs-dark);
    --bs-btn-border-color: var(--bs-light);
    background-color: var(--bs-btn-bg);
    color: var(--bs-btn-color);
    border-color: var(--bs-btn-border-color);
}
