{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block body %}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="d-flex align-items-baseline justify-content-center gap-2">
          <h1>FlagRa</h1>
          <p class="lead">Settings</p>
        </div>
      </div>
    </div>

    <form action="{{ url_for('game.setup') }}" method="post">
      <div class="row py-4 g-4">

        <!-- region -->
        <div class="col-md-6 d-flex flex-column gap-2">
          <div>
            <h2>Region</h2>
            <p class="lead">Choose the region to request flags from.</p>
          </div>
          <div class="row g-4">
            {% for region, data in regions.items() %}
            <div class="col-4 col-md-3">
              <input
                {% if current_region == region %}checked{% endif %}
                type="radio" class="btn-check" name="region" id="region-{{ region }}" value="{{ region }}" autocomplete="off">
              <label class="btn btn-outline-dark p-2 w-100 h-100" for="region-{{ region }}">
                <img class="img-fluid d-block rounded mb-2" src="{{ url_for('static', filename=data.image) }}" alt="{{ data.label }}"/>
                {{ data.label }}
              </label>
            </div>
            {% endfor %}
          </div>

        </div>

        <!-- game modes -->
        <div class="col-md-6 d-flex flex-column gap-2">
          <div>
            <h2 class=>Game Mode</h2>
            <p class="lead">Choose how you're going to play.</p>
          </div>
          <div>
            <h3><i class="bi bi-list-task me-1"></i>Multiple Choice</h3>
            <p class="lead">Choose the amount of alternatives should appear when guessing a flag.</p>
            <div>
              <input type="radio" class="btn-check" name="num_choices" id="num-2" value="2" {% if current_num == 2 %}checked{% endif %} autocomplete="off">
              <label class="btn btn-outline-dark fs-4" for="num-2">2</label>
            
              <input type="radio" class="btn-check" name="num_choices" id="num-4" value="4" {% if current_num == 4 %}checked{% endif %} autocomplete="off">
              <label class="btn btn-outline-dark fs-4" for="num-4">4</label>
            
              <input type="radio" class="btn-check" name="num_choices" id="num-6" value="6" {% if current_num == 6 %}checked{% endif %} autocomplete="off">
              <label class="btn btn-outline-dark fs-4" for="num-6">6</label>
            </div>  
          </div>

          <div>
            <h3><i class="bi bi-keyboard me-1"></i>Type</h3>
            <p class="lead">No candidates, just type the name of the country.</p>
            <input type="radio" class="btn-check" name="num_choices" id="type" value="2" {% if current_num == 2 %}checked{% endif %} autocomplete="off">
              <label class="btn btn-outline-dark fs-4" for="type">Type</label>
          </div>
          
          
        </div>
      </div>

      <div class="row py-4 g-4 justify-content-center">
        <div class="col-md-6">
          <button class="btn btn-outline-dark" type="submit">Save & Play</button>          
        </div>
      </div>
      
    </form>
  </div>
</main>
{% endblock %}
