{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block body %}
<div class="container d-flex flex-column flex-grow-1">

  <div class="row g-4 justify-content-center">
    <div class="col-lg-6">
      <div class="d-flex align-items-baseline justify-content-center gap-2">
        <h1>FlagRa</h1>
        <p class="small">Log In</p>
      </div>
    </div>
  </div>
  
  <div class="row g-4 flex-grow-1 justify-content-center align-items-center">
    <div class="col-md-6">
      <form action="{{ url_for('auth.login') }}" method="post">

        <div class="mb-3">
          <label for="username">Username</label>
          <input class="form-control" name="username" type="text" id="username" required />            
        </div>

        <div class="mb-3">
          <label for="password">Password</label>
          <input class="form-control" name="password" type="password" id="password" required/>
        </div>

        <div class="d-flex gap-2 align-items-baseline">
          <button type="submit" class="btn btn-sm btn-outline-dark fs-6 p-1 p-md-2">Log In</button>
          <p class="small mb-0">Doesn't have an account? <a href="{{ url_for('auth.register') }}">Register</a></p>
        </div>

      </form>
    </div>
  </div>
  
</div>
{% endblock %}
